div {
-webkit-transition: 0.4s;
}

body {
    background: url("images/hearts.jpg");
	background-color: pink;
} 

h1 {
	color: pink;
    text-align: center;
	
 } 
 
 p { 
     font-family: verdana;
     text-align:  center;
	 color; pink;
 }
  
  h1 {
	 color: black;
     text-align: center;
  }
  
  h2 {
	  color: black;
    text-align: center;
	
 } 
 
 p {  
     font-family: verdana;
     color: black;
 } 
 

}


.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vh;
	border: 1px black solid;
}

.headerbody {
	background-color: F2BBE8;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}

.info {
	background-color: #F2BBE8;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: left justify;
}
